<?xml version="1.0"?>
<launch>
  <node name="zed_open_capture_ros_wrapper_node" pkg="zed_open_capture_ros_wrapper" type="zed_open_capture_ros_wrapper_node" output="screen">
    <param name="resolution" value="2" />
    <param name="fps" value="60" />
    <param name="verbose" value="true" />
  </node>
</launch>
